body {
    background-color: #DDE8B9;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #550C18;
}

#menu {
    display: none;
}

#burger {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 3rem;
    min-height: 3rem;
    background-color: #ffb162;
    border: 2px;
}

#back {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 3rem;
    min-height: 3rem;
    background-color: #ffb162;
    border: 2px;
}


#topBand {
    width: 100vw;
    min-height: 3rem;
    margin: 0;
    background-color: rgb(22, 60, 87);
    box-shadow: 2px 2px 2px rgb(166, 177, 131);
}

.icon {
    color: #550C18;
}

#logo {
    border-radius: 50%;
    border: 4px solid #ffb162;
    max-width: 2.4rem;
    max-height: 2.4rem;
    position: fixed;
    top: 0;
    left: 42vw;
}