body {
    background-color: #DDE8B9;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #550C18;
}

#menu {
    display: none;
}

#burger {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 3rem;
    min-height: 3rem;
    background-color: #ffb162;
    border: 2px;
}

#topBand {
    width: 100vw;
    min-height: 3rem;
    margin: 0;
    background-color: rgb(22, 60, 87);
    box-shadow: 2px 2px 2px rgb(166, 177, 131);
    position: fixed;
    top: 0;
}

#icon {
    color: #550C18;
}

.btn {
    background-color: #ffb162;
    border-radius: .3rem;
    border: 0rem;
    box-shadow: 2px 2px 2px rgb(166, 177, 131);
    margin: 1rem;
    color: #550C18;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
}

#logo {
    border-radius: 50%;
    border: 4px solid #ffb162;
    max-width: 2.4rem;
    max-height: 2.4rem;
    margin: 0;
    margin-left: .4rem;
    position: fixed;
    left: 0;
    top: 0;
}

#main {
    margin: 6rem 2rem 2rem 2rem;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-family: 'Young Serif', serif;
    font-size: 21px;
}

.inputField {
    min-height: 1.9rem;
    min-width: 80vw;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#userInput {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    justify-content: space-around;
}


#bkgrnd{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

#modal{
    position: fixed;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    z-index: 1000;
    background-color: #D8D4F2;
    border: 3px solid #550C18;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgb(0,0,0);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
}

#x{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}

#mTitle{
    font-family: 'Dosis', sans-serif;
    font-family: 'Young Serif', serif;
    margin-bottom: .5rem;
    font-size: 28px;
}

#mAuthor{
    font-family: 'Dosis', sans-serif;
    font-family: 'Young Serif', serif;
}

p{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#mImg{
    margin-bottom: 1rem;
}